:root {
    --default-corner-radius: 10px;
    --default-font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #eef4fb;
}

main {
    padding: 23px 28px;
}

header {
    background-color: #2f80ed;
}

header h1 {
    color: white;
    padding: 25px 35px;
}

.add-new-task {
    border-radius: var(--default-corner-radius);
    background: white;
    padding: 20px;
    width: fit-content;
}

.add-new-task h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.add-new-task .bottom-group {
    display: flex;
    gap: 20px;
}

.add-new-task input[type=text] {
    border-radius: var(--default-corner-radius);
    outline: none;
    padding: 10px;
    font-size: var(--default-font-size);
    color: #e4e1e1;
    background-color: white;
    border: 1px solid #e4e1e1;
}

.add-new-task input[type=text]::placeholder {
    font-size: var(--default-font-size);
    color: #e4e1e1;
}

.add-new-task button {
    background-color: #2f80ed;
    color: white;
    border-radius: var(--default-corner-radius);
    padding: 13px 40px;
    font-size: var(--default-font-size);
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.add-new-task button:hover {
    background-color: #0056b3;
}

.desk-tasks {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    column-gap: 50px;
}

.display-tasks {
    width: 40%;
}

.display-tasks h3 {
    padding: 10px 15px;
    border-radius: var(--default-corner-radius);
    background-color: #e3e3e3;
    color: #68727b;
    margin-bottom: 20px;
    font-weight: 500;
    width: fit-content;
}

.display-tasks li {
    list-style-type: none;
    font-weight: 500;
    font-size: var(--default-font-size);
    padding: 20px;
    color: #000;
    background-color: white;
    border-left: 6px solid #e3e3e3;
    border-radius: var(--default-corner-radius);
    margin: 10px 0;
    word-break: break-word;
}

.stub {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2368727bFF' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    color: #68727b;
    font-weight: 500;
    padding: 20px;
}

.clear-button {
    background-color: #c9666c;
    color: white;
    padding: 15px 0;
    border: 0px;
    border-radius: var(--default-corner-radius);
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    font-size: var(--default-font-size);
}

.clear-button:hover {
    background-color: #b3464d;
}

.backlog h3 {
    background-color: #e3e3e3;
    color: #8e9092;
}

.backlog li {
    border-left: 5px solid #e3e3e3;
}

.processing h3 {
    background-color: #d6e7ff;
    color: #5c9bf2;
}

.processing li {
    border-left: 5px solid #d6e7ff;
}

.done h3 {
    background-color: #d7f9e0;
    color: #8acea0;
}

.done li {
    border-left: 5px solid #d7f9e0;
}

.basket h3 {
    background-color: #fbe3e3;
    color: #da8e8b;
}

.basket li {
    border-left: 5px solid #fbe3e3;
}